
   .writing-animation {
       display: inline-block;
       font-family: "Libre Baskerville", serif;
       font-size: 60px;
       color: #8b2054;
       white-space: nowrap; /* Prevent text wrapping */
       overflow: hidden; /* Hide overflowing text */
       border-right: 2px solid #8b2054; /* Simulate a cursor */
       animation: typing 4s steps(30, end), blink 0.8s ;
   }

   @keyframes typing {
    from {
        width: 0; /* Start with no text visible */
    }
    to {
        width: 20ch; /* Stop at the end of the text */
    }
}

   

