html {
  font-size: 24px;
  background-color: #E5BFD7; 
  font-family: "Libre Baskerville", serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #8b2054; 
  letter-spacing: -2;
}


body {
  text-align: center;
  width: 900px;
  margin: 0 auto;
  align-items: center;
  background-color: #E5BFD7; 
  padding: 100px 100px;
}

p {
  font-family: "Libre Baskerville", sans-serif;
  color: #F5495F;
  font-size: 20px;
}

li {
  list-style: none;
}

main {
  padding-bottom: 600px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 200%;
}

a {
  font-size: 16px;
  line-height: 4;
  letter-spacing: 2;
  color: #DCB012; 
}




/* General list styling */
nav ul {
    list-style: none; /* Remove bullet points */
    padding-top: 40px;
    padding-bottom: 40px;
}

nav li {
    margin-bottom: 10px; 
}

nav input {
    padding: 20px 40px;
    text-align: center;
    border: 1px solid #8b2054;
    background-color: #ffe6e6;
    font-family: "Libre Baskerville", serif;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    color: #F5495F;
}

nav input::placeholder {
    color: #8b2054;
    font-family: "Libre Baskerville", serif;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
}

nav input:hover {
    background-color: #ffe6e6;
    color: #F5495F;
}

nav input:focus {
    outline: none;
    border: 1px solid #8b2054;
}


/* Create a Gift button */
nav .create-button {
    text-decoration: none; 
    color: #ffffff; 
    background-color: #8b2054; 
    padding: 0px 40px; 
    border-radius: 12px; 
    font-weight: bold;
    font-size: 16px; 
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center; 
    display: inline-block; 
}

nav .create-button:hover {
    background-color: #ffe6e6; /* Change background color on hover */
    color: #8b2054; /* Change text color on hover */
}
